.main-content {
    height: 100%;
    width: 83%;
    left: 17%;
    position: relative;
    background-color: #1e1e1efa;
    height: 100vh;
    background: radial-gradient(at right bottom, rgba(1, 1, 1, 1.0) 20%, rgb(57, 0, 73));
    
}