.side-bar {
  background: rgb(22, 22, 22);
  height: 100%;
  width: 17%;
  top: 0;
  left: 0;
  position: fixed;
  border-right: 1.4px solid rgba(0, 195, 255, 0.25);
}

.side-bar-photo {
  display: flex;
  justify-content: center;
  padding-top: 100%;
  clip-path: circle(5vw);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}

.side-bar-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.side-bar-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-bar-info h1 {
  font-size: clamp( 1rem, 3.5vw, 3.5vh);
  margin-bottom: 1rem;
  color: rgba(0, 169, 241, 0.6)
}

.side-bar-info p {
  font-size: clamp( 0.5rem, 1.5vw, 1.5vh)
}

.side-bar-nav li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.side-bar-nav ul li {
  width: fit-content;
  border: 1.4px solid rgba(0, 195, 255, 0.25);
  padding: 0.7rem;
  border-radius: 12px;
  background-color: rgba(45, 46, 46, 0.25);
}

.side-bar-nav a {
 text-decoration: none;
}

.cv-icon-size {
  font-size: 2rem;
}

.cv-icon {
  gap: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.side-bar-nav ul li a:hover {
  background-color: rgba(0, 195, 255, 0.25);
}